<div>
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://i.pinimg.com/originals/9e/ef/54/9eef54b8786e4d43a332e7cd28683d55.png"
      alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Turma: {{turma.nome}}</h1>
    <div class="col-lg-6 mx-auto">
      <p>Grau: {{grau[0].label}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="openAlunos()">Listar alunos</button>
        <a [routerLink]="['alunos/new']" type="button" class="btn btn-outline-secondary btn-lg px-4">Cadastrar alunos</a>
      </div>
    </div>
  </div>
  <div *ngIf="isOpenAlunos">
    <app-aluno-list [turmaId]="turma.id"></app-aluno-list>
  </div>
</div>