<form (submit)="submit()" 
class="mx-auto col-6 col-sm-4 mx-auto mt-3" [formGroup]="form">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example" formControlName="grau">
                    <option value="0" >Ensino básico</option>
                    <option value="1">Ensino Fundamental I</option>
                    <option value="2">Ensino Fundamental II</option>
                    <option value="3">Ensino Médio</option>
                  </select>
                </div>
        </div>
        <button class="btn btn-primary">Salvar </button>
    </div>
</form>